/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Custom CSS for SJC 12926 COVID-19 Tracker Shiny App
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Thank you: https://shiny.rstudio.com/articles/css.html
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* Define GT America font */
/* CSS modified from aclum.org: https://www.aclum.org/sites/default/files/css/css_EjcJzxzhvjcsFc2zO64tGCpzBzxgdDr78RRvkT__FRA.css */

/* GT America Condensed Regular */
@font-face {
  font-family:'gtamcond';
  src: url("fonts/gtamerica/GT-America-Condensed-Regular.woff2") format('woff2');
  font-weight:400;
}

/* GT America Condensed Bold */
@font-face {
  font-family:'gtamcond';
  src: url("fonts/gtamerica/GT-America-Condensed-Bold.woff2") format('woff2');
  font-weight:600;
}

/* GT America Regular */
@font-face {
  font-family:'gtam';
  src: url("fonts/gtamerica/GT-America-Standard-Regular.woff2") format('woff2');
  font-weight:400;
}

/* GT America Bold */
@font-face {
  font-family:'gtam';
  src: url("fonts/gtamerica/GT-America-Standard-Bold.woff2") format('woff2');
  font-weight:600;
}

body {
  font-family: 'gtam', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
    font-weight: bold;
}

.tabbable {
  max-width: 750px;
}

#dev-warning .well {
  border-radius: 0px;
  margin-top: 2rem;
  background-color: #fadf7c;
}

#dev-warning p, #dev-info p {
  display: inline;
}

#dev-warning i {
  color: goldenrod;
  font-size: 20px;
}

#dev-warning h4, #dev-info h4 {
  display: inline;
  margin-left: 1rem;
}

#dev-warning em, #dev-info em {
  display: block;
  margin-top: 1rem;
}

#dev-info .well {
  border-radius: 0px;
  margin-top: 2rem;
  background-color: #bbe9f0;
}

#dev-info i {
  color: LightSeaGreen;
  font-size: 20px;
}

/* Fix dropdown cutoff issue */
.shiny-split-layout > div {
  overflow: visible;
}

/* Make sure table filters are wide enough */
#df_table input {
    width: 100px !important;
}

/* Update bar to match ACLUM website */
.well.col-sm-3 {
  background-color: #0055aa;
  border-radius: 0px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
  background-color: #fadf7c;
  color: #423a38;
}

.nav-pills>li>a {
  color: white;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: gtamcond;
}

.nav>li>a:focus, 
.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #423a38;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: gtamcond;
}

a[data-value="External Resources"],
a[data-value="Tests & Positives Over Time"],
a[data-value="County Facilities"]
{
  border-bottom: 1px solid #eee;
}

/*a[data-value="Explore Data"]
{
  border-top: 1px solid #eee;
}*/

#county_maps {
  margin-top: 2rem;
}

#internal_well {
  border-radius: 0px;
}

#internal_well .form-group {
  margin-bottom: -5px;
}

#internal_well .shiny-input-radiogroup {
  margin-bottom: 2rem;
}

#internal_well #radio_prompt {
  margin-bottom: 0px;
}

#internal_well .selectize-input {
  border-radius: 0px;
}

#internal_well p {
  font-weight: bold
}

#footer {
  margin-top: 20px;
}

.nav-pills .navbar-brand {
    color: #fadf7c;
    padding-left: 5px;
    text-transform: uppercase;
    font-family: gtamcond;
    font-weight: bold;
}

.selectize-control {
    white-space: normal;
}

.checkbox {
  text-align: center;
}
